In [4]:
import pandas as pd
df = pd.read_csv(
        r'D:\python\training\Data_Engine_with_Python-master\L1\car_data_analyze\car_complain.csv'
    )

In [60]:
df1 = df.drop('problem', 1).join(df.problem.str.get_dummies(','))

In [62]:
df1.head(1)

,id,brand,car_model,type,desc,datetime,status,A11,A114,A12,...,N318,N319,O296,O326,O348,O354,Q322,Q323,Q349,Q350
0,482028,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹B柱异响 车内异响严重,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
count_brand=(
    df.groupby(['brand'])
    .agg(
        #新列名 =(原列名,函数)
        品牌投诉总数 =('id','count')   
    )
    .reset_index()
    .rename(columns={'brand':'品牌'})
    .sort_values('品牌投诉总数',ascending = False)
)

In [57]:
count_brand.head(1)

      品牌  品牌投诉总数
38  吉利汽车      96

In [45]:
count_car=(
    df.groupby(['car_model'])
    .agg(
        #新列名 =(原列名,函数)
        车型投诉总数 =('id','count')   
    )
    .reset_index()
    .rename(columns={'car_model':'车型'})
    .sort_values('车型投诉总数',ascending = False)
)

In [58]:
count_car.head(1)

      车型  车型投诉总数
189  阿特兹      75

In [49]:
count_brand_car=(
    df.groupby(['brand','car_model'])
    .agg(
        #新列名 =(原列名,函数)
        投诉总数 =('id','count')   
    )
    .reset_index()
    .rename(columns={'brand':'品牌','car_model':'车型'})
)

In [55]:
count_brand_car_maen =(
    count_brand_car.groupby(['品牌'])
    .agg(
        #新列名 =(原列名,函数)
        车型平均 =('投诉总数','mean')   
    )
    .reset_index() 
    .sort_values('车型平均',ascending = False)
)

In [59]:
count_brand_car_maen.head(1)

      品牌  车型平均
8  一汽马自达  47.5