In [1]:
import pandas as pd
Score =[{'姓名':'张飞','语文':68,'数学':65,'英语':30},
        {'姓名':'关羽','语文':95,'数学':76,'英语':98},
        {'姓名':'刘备','语文':98,'数学':86,'英语':88},
        {'姓名':'典韦','语文':90,'数学':88,'英语':77},
        {'姓名':'许诸','语文':80,'数学':90,'英语':90}
        ]
df = pd.DataFrame(Score)

In [2]:
df

   姓名  语文  数学  英语
0  张飞  68  65  30
1  关羽  95  76  98
2  刘备  98  86  88
3  典韦  90  88  77
4  许诸  80  90  90

In [3]:
df[['语文','数学','英语']].agg(
        ['mean','max','min','var','std'])

              语文          数学          英语
mean   86.200000   81.000000   76.600000
max    98.000000   90.000000   98.000000
min    68.000000   65.000000   30.000000
var   150.200000  109.000000  734.800000
std    12.255611   10.440307   27.107195

In [8]:
df['总成绩'] = df.sum(axis=1)

In [9]:
df.sort_values(by = '总成绩',ascending= False)

   姓名  语文  数学  英语  总成绩
2  刘备  98  86  88  272
1  关羽  95  76  98  269
4  许诸  80  90  90  260
3  典韦  90  88  77  255
0  张飞  68  65  30  163